body {
  background-color: #01374F;
  color: white;
  margin: 0;
}

section {
  max-width: 40em;
  margin: 0 auto;
  padding: 1.5em;
}

header {
  background-image: linear-gradient(#11A1B0, #01374F);
  padding: 4em;
  position: relative;
}


#colors {
  display: flex;
  flex-wrap: wrap;
  justify-content : center;
  margin: 0 auto;
}

#colors li {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 auto;
  display: flex;
  justify-content : center;
}

#color-1 {
 background-image: linear-gradient(#11A1B0, #8075DE);
}

#color-2 {
 background-image: linear-gradient(#8075DE, #F94EBB);
}

#color-3 {
 background-image: linear-gradient(#1411FE, #F94EBB);
}

#color-4 {
 background-image: linear-gradient(#6866FF, #98B5EA);
}

#color-5 {
 background-image: linear-gradient(#FC85B2, #FFDE47);
}



ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ol li {
  width : 160px;
  margin : 20px;
}

li img {
  width : 100%;
}

img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.linklist {
  list-style-type: none;
}

.linklist{
  margin: 12px
}

ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  }

  li {
  width : 360px;
  margin: 20px;
  align-content: center;
}

li img {
width : 100%;
}
